<section class="header1 cid-rr1YordtYj mbr-parallax-background" id="header1-j">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10 text-center">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                    KASHRUT ABIERTO</h1>
                <button type="button" class="btn btn-default" ui-sref="listakosher">
                    <span class="fa fa-desktop fa-lg" aria-hidden="true"> LISTA KOSHER VERSIÓN WEB</span>
                </button>
                <button type="button" class="btn btn-default">
                    <a href="https://wa.me/5491124922744?text=Me%20gustaría%20recibir%20alertas%20de%20Ajdut%20Kosher"
                        style="color:black">
                        <span class="fa fa-whatsapp fa-lg" aria-hidden="true"> &nbsp; RECIBÍ NUESTRAS ALERTAS POR
                            WHATSAPP</span></a>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="header3 cid-rr20dvoTTr" id="header3-l">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 100%;">
                <img src="assets/images/celu-app-1014x1014.jpg" alt="Mobirise" title="">
            </div>

            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1">Nuestra App Kosher</h1>

                <div class="mbr-section-text mbr-white pb-3 ">
                    <p class="mbr-text mbr-fonts-style display-5">
                        Llevá la lista con vos estés donde estés.<br>Conseguila en el Google Play Store, en el App Store
                        o mirala en formato web.</p>
                </div>
                <a href="https://play.google.com/store/apps/details?id=com.beatmobile.ak&hl=es_419"> <img
                        src="assets/images/badge-android-es.png" alt="EMPRESAS" style="width: 40%;"> </a>
                <a href="https://itunes.apple.com/ar/app/ajdut-kosher/id731823009?mt=8"> <img
                        src="assets/images/badge-ios-es.png" alt="EMPRESAS" style="width: 40%;"></a>
                <a ui-sref="listakosher"> <img src="assets/images/badge-web-es.png" alt="EMPRESAS"
                        style="width: 40%;"></a>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content9 cid-rr23HqLDm1 container-flex" id="content9-o">
    <div class="container-flex">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-fonts-style display-5">
                ALERTAS y NOVEDADES<br>
            </div>
            <hr class="line" style="width: 25%;">
            <br>
        </div>
        <div class="container-flex">
            <md-card ng-repeat="alerta in alertas" >
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{alerta.nombre}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                    </md-card-title-media>
                </md-card-title>
                <md-card-content>
                    <p ng-bind-html="renderHtml(alerta.descripcion)"></p>
                </md-card-content>
            </md-card>
        </div>
    </div>
</section>


<section class="header1 cid-rr21msublj mbr-parallax-background" id="header1-m">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-2">
                    Establecimientos Certificados</h1>

                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                    Conocé los establecimientos que cuentan con nuestra certificación.</p>
                <div class="mbr-section-btn align-center"><a class="btn btn-md btn-primary display-4" href="">
                        ESTABLECIMIENTOS KOSHER</a></div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials2 cid-rbsTgxluxu" id="testimonials2-9">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);">
    </div>


    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure pr-lg-5" style="width: 100%;">
                <img src="assets/images/face4.jpg" alt="" title="">
            </div>
            <div class="media-content px-3 align-self-center mbr-white py-2">
                <P>
                    <h3>¿QUÉ ES KOSHER?</h3>
                </P>
                <p class="mbr-text testimonial-text mbr-fonts-style display-7">
                    Es la dieta bíblica que acatan los judíos. Dicha dieta tiene muchas leyes y pormenores, por lo que
                    únicamente un rabino instruido y experto en el tema puede designar un alimento como "Kosher". En la
                    actualidad, muchos consumidores de otros entornos (como celíacos, vegetarianos, veganos, alérgicos,
                    Halal, etc.) deciden cuidar la dieta Kosher, debido a su valor agregado de calidad y confianza.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="counters1 counters cid-rr1UOtaW0M" id="counters1-g">
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2" style="color:white">
            Sobre Nosotros</h2>
        <h3 class="mbr-section-subtitle mbr-fonts-style display-5" style="color:white">El amplio servicio de
            certificaciones Kosher que ofrecemos nos permite contar con empresas de los más diversos rubros alimenticios
        </h3>

        <div class="container pt-4 mt-2 counters">
            <div class="media-container-row" style="color:white">
                <div class="p-3 align-center col-12 col-md-6 col-lg-4">
                    <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
                        200</h3>
                    <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                        Establecimientos certificados</h4>
                </div>


                <div class=" p-3 align-center col-12 col-md-6 col-lg-4">
                    <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
                        3500</h3>
                    <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                        Productos en góndolas</h4>
                </div>

                <div class=" p-3 align-center col-12 col-md-6 col-lg-4">
                    <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
                        1200</h3>
                    <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                        Productos certificados para exportación</h4>
                </div>



            </div>
        </div>
    </div>
</section>

