<section class="mbr-section form1 cid-rr1VXRj3la" id="form1-h">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="align-center pb-3 mbr-bold text-green display-2">
                    GRACIAS POR CONTACTARSE CON NOSOTROS </h2>
                <h3 class="align-center mbr-light pb-3  display-5" style="text-align: center">En breve nos estaremos comunicando con ustedes.</h3>
            </div>
        </div>
    </div>
    
</section>