<section class="mbr-section form1 cid-rr1VXRj3la" id="form1-h">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="align-center pb-3 mbr-bold text-green display-2">
                    CONTACTO / CONSULTAS KOSHER </h2>
                <h3 class=" align-center mbr-light pb-3  display-5">Para ponerse en contacto con nosotros, llene el siguiente formulario:</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                    <div data-form-alert="" hidden="">Gracias por completar el formulario! Lo estaremos contactando a la brevedad.</div>
            
                    <form class="mbr-form" name="contactform" action="send_form_email_consultas.php" method="post" data-form-title="Formulario Ajdut Kosher">
                        <div class="row row-sm-offset">
                            <div class="col-md-4 multi-horizontal" for="first_name">
                                <div class="form-group">
                                    <label class="form-control-label  display-7" for="name-form1-h">Nombre</label>
                                    <input type="text" class="form-control" name="first_name" data-form-field="Nombre" required="" placeholder="Nombre" id="name-form1-h">
                                </div>
                            </div>
                            <div class="col-md-4 multi-horizontal" for="company">
                                <div class="form-group">
                                    <label class="form-control-label  display-7" for="email-form1-h">Empresa</label>
                                    <input type="text" class="form-control" name="company" data-form-field="Empresa" required="" placeholder="Empresa" id="name-form1-h">
                                </div>
                            </div>
                            <div class="col-md-4 multi-horizontal" for="email">
                                <div class="form-group">
                                    <label class="form-control-label  display-7" for="phone-form1-h">Email</label>
                                    <input type="email" class="form-control" name="email" data-form-field="Email" required="" placeholder="Email" id="email-form1-h">
                                </div>
                            </div>
                        </div>
                        <div class="form-group" for="message">
                            <label class="form-control-label  display-7" for="message-form1-h">Mensaje</label>
                            <textarea type="text" class="form-control" name="message" rows="7" data-form-field="Mensage" required="" placeholder="Mensaje" id="message-form1-h"></textarea>
                        </div>
            
                        <span class="input-group-btn">
                            <button href="" type="submit" class="btn btn-primary btn-form display-4">ENVIAR</button>
                        </span>
                    </form>

            </div>
        </div>
    </div>
</section>