<div class="container" style="padding:15px">
        <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1" style="font-family:Arial, FontAwesome;">&#xf002;</span>
                </div>
                <input id="query" ng-model="query" type="text" class="form-control" placeholder="Buscar" aria-label="Buscar"
                    aria-describedby="basic-addon1">
            </div>
    <hr>

    <hr>
    <div ng-repeat="tipo in superListaEstablecimientos" ng-hide="filtrado.length == 0" style="padding:0px;">
        <p class="rubro-titulo"><strong>{{tipo.nombre.toUpperCase()}}</strong></p>
        <div ng-repeat="establecimiento in tipo.establecimientos | filter:ignoreAccentsEstablecimiento as filtrado"
            class="producto-bloque row">
            <div class="col">
                <h6> {{establecimiento.nombre.toUpperCase()}}</h6>
                <h7 ng-show="establecimiento.telefono !='' ">Teléfono: {{establecimiento.telefono}} <br></h7>
                <h7 ng-show="establecimiento.direccion !='' ">Dirección: {{establecimiento.direccion}}<br></h7>
                <a ng-href="./certificados/{{establecimiento.certificado}}" target="_blank"
                    ng-show="establecimiento.certificado !='' ">VER CERTIFICADO</a>
            </div>
            <div class="col-md-2 producto-imagen">
                <img ng-src="./images/{{establecimiento.logo}}" class="img-thumbnail" style="height:90px;"
                    ng-hide="establecimiento.logo == ''" class="ml-auto" />
            </div>
        </div>
    </div>


</div>