<section class="header1 cid-rr1YordtYj mbr-parallax-background" id="header1-j">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10 text-center">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-2">
                    GUÍA KOSER - KASHRUT ABIERTO</h1>
                <button type="button" class="btn btn-default" ui-sref="listakosher">
                    <span class="fa fa-desktop fa-lg" aria-hidden="true">&nbsp;  LISTA KOSHER VERSIÓN WEB</span>
                </button>

                <button type="button" class="btn btn-default">
                    <a href="https://wa.me/5491124922744?text=Me%20gustaría%20recibir%20alertas%20de%20Ajdut%20Kosher"
                        style="color:black">
                        <span class="fa fa-whatsapp fa-lg" aria-hidden="true"> &nbsp; RECIBÍ NUESTRAS ALERTAS POR
                            WHATSAPP</span></a>
                </button>
            </div>
        </div>
    </div>
</section>

<section style="background-color: white;">
    <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
        <p ng-bind-html="renderHtml(guiaKosher.descripcion)"></p>
    </div>
</section>

