<section class="header1 cid-rr1YordtYj" id="header1-j">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="mbr-white col-md-10 text-center">
                    <h1 class="align-center mbr-bold pb-3 display-1">
                        KASHRUT ABIERTO</h1>
                    <button type="button" class="btn btn-default text-white background-green" ui-sref="listakosher">
                        <span class="fa fa-desktop fa-lg" aria-hidden="true">&nbsp;&nbsp;</span> <span>Lista Kosher <b>
                                Versión Web</b></span>
                    </button>
                    
                    <button type="button" class="btn btn-default text-white background-green">
                        <a href="https://wa.me/5491173613513?text=Me%20gustaría%20recibir%20alertas%20de%20Ajdut%20Kosher"
                            style="color: white">
                            <span class="fa fa-lg" aria-hidden="true"> <i class="fab fa-whatsapp fa-lg"></i> &nbsp;
                                &nbsp;</span> <span></span> Recibí
                            nuestras <b>Alertas</b> por Whatsapp</span></a>
                    </button>
                </div>
            </div>
        </div>
    </section>

<section style="background-color: white;">
    <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
        <p ng-bind-html="renderHtml(guiaKosher.descripcion)"></p>
    </div>
</section>