<section class="header1 quienes-somos" id="header1-j">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10 text-center">
                <h1 class="align-center mbr-bold pb-3 display-1">
                    ¿QUIENES SOMOS?</h1>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <article class="row single-post mt-5 no-gutters">
        <div class="col">
            <div class="img-fluid float-left">
                <img src="assets/images/logo--quienes-somos.png" style="max-width: 100%" alt="">
            </div>
            <div class="single-post-content-wrapper quienes-somos-texto">
                <p><strong><em>Ajdut Israel Kosher&nbsp;</em></strong>fue fundada en 1954 por el&nbsp;<strong><em>Rabino
                            Dr. Iosef Oppenheimer Z&rdquo;L,&nbsp;</em></strong>es una Certificadora Kosher de
                    reconocimiento internacional, es decir, nos avalan 65 a&ntilde;os de trayectoria, siendo una de los
                    primeros listados Kosher de Argentina.<u></u><u></u></p>
                <p>Hoy, su hijo el&nbsp;<strong><em>Rabino Daniel Oppenheimer</em></strong>, contin&uacute;a con esta
                    sagrada labor, dirigiendo la certificadora y supervisando m&aacute;s de 3.500 productos en el
                    mercado, m&aacute;s de 300 establecimientos a nivel nacional e internacional y con m&aacute;s de 80
                    supervisores expertos bajo tutela y coordinaci&oacute;n, lo cual facilita y expedita el proceso de
                    certificaci&oacute;n.</p>
            </div>
        </div>
    </article>


    <article class="row single-post mt-5 no-gutters">
        <div class="row quienes-somos-texto-titulo">
            <p><strong> Biograf&iacute;a del Rabino Daniel Oppenheimer<u></u> </strong></p>
        </div>

        <div class="row">
            <div class="col">
                <div class="img-fluid float-right">
                    <img src="assets/images/foto-rab-opp.png" style="max-width: 100%" alt="">
                </div>
                <div class="single-post-content-wrapper quienes-somos-texto">
                    <p>Nacido en Argentina. Egresado en el a&ntilde;o 1972 del secundario Talmudical Yeshiva of
                        Philadelphia
                        y
                        continuando sus estudios en la Yeshivat Mir de Jerusal&eacute;n durante 5 a&ntilde;os. En 1978
                        recibe
                        Semij&aacute; (ordenaci&oacute;n rab&iacute;nica) por parte del Rabino Iaacov Fink, Av Bet Din
                        (Juez
                        Supremo
                        Religioso) de Haifa.<u></u><u></u></p>
                    <p>En el a&ntilde;o 1981, tras el fallecimiento de su Sr. padre, sucede el Rabinato de
                        la&nbsp;<strong><em>Asociaci&oacute;n Religiosa Educativa y Cultural Concordia
                                Israelita</em></strong>,
                        responsabiliz&aacute;ndose as&iacute; de labores como rabino de la comunidad, decano de la
                        escuela
                        de la
                        comunidad, autor de varios libros en diversos temas , as&iacute; como tambi&eacute;n docente y
                        conferencista
                        en escuelas y seminarios religiosos, y director de la certificadora&nbsp;<strong><em>Ajdut
                                Kosher</em></strong>.<u></u><u></u></p>
                    <p>La siguiente es una peque&ntilde;a selecci&oacute;n de algunos libros publicados por el Rabino
                        Daniel
                        Oppenheimer: &ldquo;Jemdat Iamim&rdquo; (leyes de Shabat), &ldquo;Veshinantam Levaneja&rdquo;
                        (educaci&oacute;n de los hijos), &ldquo;Vesamajta Bejagueja&rdquo; (festividades jud&iacute;as),
                        &ldquo;Banim Atem&rdquo; (convivencia familiar), &ldquo;Emet Veemuna&rdquo; (Trece Principios de
                        la
                        Fe),
                        &ldquo;Uvejol Meodeja&rdquo; (temas monetarios), &ldquo;Tovim Hashnaim&rdquo; (armon&iacute;a en
                        la
                        vida
                        conyugal), &ldquo;Vezot Hator&aacute;&rdquo; (relatos del Tana&rdquo;j), &ldquo;Pirk&eacute;
                        Avot a
                        base de
                        los comentarios de R. Shimsh&oacute;n Rafael Hirsch&rdquo;, &ldquo;Meguilat Esther con
                        comentarios&rdquo;,
                        &ldquo;Shir&aacute; Jadash&aacute;&rdquo; (Hagad&aacute; para ni&ntilde;os), &ldquo;Veh&iacute;
                        Sheamda&rdquo; (Hagad&aacute; para adultos), &ldquo;Bar Mitzv&aacute;&rdquo; (preparaci&oacute;n
                        del
                        joven
                        moderno con los conocimientos b&aacute;sicos del juda&iacute;smo), entre otros.</p>
                </div>
            </div>
        </div>
    </article>
    <section>
        <div class="container-flex">
            <img src="assets/images/quienes-somos.banner.jpg" width="100%" alt="Proceso de Certificación">
        </div>

    </section>

    <article class="row single-post mt-5 no-gutters">

        <div class="row">
            <div class="col-md-7 img-fluid float-left">
                <img src="assets/images/nuestra-mision-fotos.png" style="max-width: 100%" alt="">
            </div>
            <div class=" col-md-5 single-post-content-wrapper quienes-somos-texto">
                <div class="row quienes-somos-texto-titulo">
                    <p><strong>Nuestra Misi&oacute;n</strong><u></u></p>
                </div>
                <p>Todos los ingresos recaudados por&nbsp;<strong><em>Ajdut Kosher</em></strong>&nbsp;est&aacute;n
                    destinados en su
                    totalidad a beneficio de nuestra escuela&nbsp;<strong><em>Jos&eacute; Caro</em></strong>, es
                    decir, que cuando su
                    empresa certifica con&nbsp;<strong><em>Ajdut Kosher</em></strong>, Ud. no solamente obtiene
                    certificaci&oacute;n de
                    una de la certificadoras m&aacute;s prestigiosas de Am&eacute;rica del Sur, sino que
                    tambi&eacute;n su aporte es
                    destinado a beneficencia.</p>
            </div>
        </div>
    </article>
</div>