<md-dialog>
    <form name="establecimientoForm" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{dialogTitle}}</h2>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-dialog-content style="min-width: 800px">
            <div class="md-dialog-content">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Nombre</label>
                        <input ng-model="establecimiento.nombre" required>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Tipo de Establecimiento</label>
                        <md-select ng-model="establecimiento.rubroId" required>
                            <md-option ng-repeat="tipoEstablecimiento in tipoEstablecimientos"
                                value="{{tipoEstablecimiento.id}}">
                                {{tipoEstablecimiento.nombre}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Dirección</label>
                        <input ng-model="establecimiento.direccion" required>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Teléfono</label>
                        <input ng-model="establecimiento.telefono">
                    </md-input-container>
                </div>
                <md-input-container class="md-block" flex-gt-sm>
                    Logo <br /><br />
                    <input ng-model="establecimientoForm.image" type="file" class="form-control input-lg"
                        accept="image/*" onchange="angular.element(this).scope().uploadedFile(this)">
                    <br />
                    <img ng-src="{{image_source}}" style="height:150px;" ng-hide="establecimiento.logo == ''">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    Certificado<br /><br />
                    <input type='file' name='file' id='file'><br />
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="closeDialog()">
                Cancelar
            </md-button>
            <md-button ng-disabled="!establecimientoForm.$valid" ng-click="saveEstablecimiento(establecimiento)">
                Guardar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>