<div class="wrapper fadeInDown">
    <div id="formContent">  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="AK Icon" />
      </div>
      <!-- Login Form -->
      <form method="post" name="formlog" action="log.php">
        <input type="text" id="login" class="fadeIn second" name="user" placeholder="login">
        <input type="password" id="password" class="fadeIn third" name="pass" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
    </div>
  </div>